# python 데이터 분석

## python 기초 문법

* python 문법에 대해 알아보자

In [ ]:
print("안녕하세요.")

변수

In [ ]:
100+500

In [ ]:
a=100 # 변수를 선언한다, 100이라는 수를 a라는 공간에 담는다..
b=500

In [ ]:
a+b

In [ ]:
type(a)

# 데이터 타입

* 연속형 : int(정수) / float(실수)
* 범주형 : str(문자형)

In [ ]:
c = "파이썬"

In [ ]:
type(c)

# 문자형 데이터

In [ ]:
"안녕하세요...."

In [ ]:
d= """안녕하세요
데이터 분석가 입니다
"""

In [ ]:
print(d)

In [ ]:
a = "안녕하세요 "
b = "저는 문자입니다."

In [ ]:
print(a)
print(b)
print(a+ b) # 문자를 이어주는 역할

In [ ]:
str1="감사합니다"

str1 * 5 # 문자를 특정 수 만큼 반복 출력

In [ ]:
str2 = "이 문자열의 길이를 구해보세여"

In [ ]:
# 데이터의 길이나, 데이터의 갯수
len(str2)

**indexing & slicing

In [ ]:
str3 = "너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리라"

In [ ]:
str3[0]

In [ ]:
str3[14]

In [ ]:
str3[-2]

In [ ]:
str3[7]

In [ ]:
str4 =str3[0]+str3[14]+str3[-2]+str3[7]
str4

In [ ]:
str5="2019년12월31일_마케팅부서"# 한칸 전으로 읽음!!

In [ ]:
str5[0:4]

In [ ]:
str5[:7]

In [ ]:
str5[7:]

In [ ]:
str5[:4] + "-" + str5[5:7] + "-" +str5[8:10] # <-연습 필요. 중요한 날짜처리 데이터 분석하기

**문자열 함수**

In [ ]:
str6 = "PYTHON DATA ANALYSIS"
str6. lower() # 대문자를 소문자를 써주는 함수 소문자를 대문자로는 upper 으로

In [ ]:
str8 = "python big 데이터"
str8.replace("데이터", "data") # 글자를 바꿔줌 <- 이것도 조금 중요(실무에서)

In [ ]:
str9 = "1시간56분"

In [ ]:
str9.split("시간") # split 자르는 함수

In [ ]:
str10 = "HR부서_Ateam"
str10.split("_")

# 데이터 구조

* **list** : 순서 존재 / 서로 다른 타입 / 중복가능 / 수정, 삭제, 추가 : []

* tuple : 순서 존재/ 중복 / 수정, 삭제, 추가 불가능 : (123,124,125)

* set : 벤다이어그램 같으 느낌 순서 없고/ 중복 불가 / 수정, 삭제, 추가 기능 : {100,200,300}

* **dictionary** : key - value Pair : {key1 : value1 , key2 : value2}

In [ ]:
#list
list1= [100, 200, 300, 400]
type(list1)

In [ ]:
list1

In [ ]:
list2 = [100, "홍길동", 140, 100]
list2

In [ ]:
list2[1]

**여러가지 list 함수**

In [ ]:
sub = ['국어', '영어', '수학', '과학']
sub

In [ ]:
sub.append('사회') # 데이터 추가

In [ ]:
sub

In [ ]:
sub.insert(0, "한국사") # 특정 위치에 데이터를 추가
sub

In [ ]:
sub.remove("수학") # 데이터 삭제
sub

In [ ]:
len(sub) # 구조안에 있는 데이터 개수 출력

# tuple

In [ ]:
t1 = (100,200,300)
t1

In [ ]:
t1=(13,234,53,22,35)
t2=list(t1)
t2.append(80)
tuple(t2)

In [ ]:
type(t1)

In [ ]:
# t1.append(13)
# t1.remove(200) 을 사용할 수 없음

In [ ]:
# packing / Unpacking
t1 = (100,200,300)

In [ ]:
# Packing
t1 = 40,50,60,70
print(t1)

a,b,c = (20,30,40)
print(a)

In [ ]:
t1

In [ ]:
# Unpacking
a,b,c = (20,30,40)
a

In [ ]:
s1 = {10, 10, 10, 10, 20, 30 ,40}
type(s1)

In [ ]:
s1

In [ ]:
s1= {10, 20, 30, 40}
s2= {30, 40, 50, 60}

In [ ]:
# 교집합
s1 & s2

In [ ]:
s1 | s2 # 엔터키 위에 있는 키를 시프트 누루고

In [ ]:
# 차집합
s1 - s2

In [ ]:
# 대상차집합
s1 ^ s2 # 시프트 누루고 6키

In [ ]:
list1 = [100,200,100,300,500,700,800]
list2 = [30,100,20,100,35]

In [ ]:
set(list1) # 중복을 없애고 고유값들만 가져올 수 있음

In [ ]:
set(list1) & set(list2) # set은 데이터에 순서가 없기 때문에 랜덤으로 나오게 됨

In [ ]:
list(s1)

In [ ]:
tuple(list1)

dictionary

In [ ]:
dic1={"이름": "홍길동" , "나이":34, "지역 ": "경기"}
dic1

In [ ]:
type(dic1)

In [ ]:
dic1['나이']

In [ ]:
dic1.keys()

In [ ]:
dic1.values()

연산

In [ ]:
num1= 130
num2 = 140

In [ ]:
num1+num2

In [ ]:
num1-num2

In [ ]:
num1 * num2

In [ ]:
num1/num2

In [ ]:
num1//num2 # 몫을 구할 수 있음

In [ ]:
num1%num2 # 나머지를 구할 수 있음

In [ ]:
# 비교연산
a=70
b=95

In [ ]:
a<b

In [ ]:
a>b

In [ ]:
a == b

In [ ]:
a!=b # 비교했을 때 서로 다르다

In [2]:
input("데이터를 입력") # 문자로 입력을 받음 그리고, 입력을 꼭 하고 넘어가 주어야함.

데이터를 입력10

'10'

In [3]:
int(input("데이터를 입력")) # 숫자로 입력을 받음

데이터를 입력5

5

*숫자를 입력받아서 (반지름) => 원기둥의 부피를 구하는 프로그램을 코딩하시오

In [4]:
num3 = int(input("반지름 데이터를 입력"))
num4 = int(input("높이 데이터를 입력"))
vol = (3.14*(num3**2))*num4
vol

반지름 데이터를 입력3
높이 데이터를 입력8

226.08

In [ ]:
2 **2 # 제곱근 하는 코드