# Python 데이터 분석 2주차

## 조건문

* if (조건식):
        수행문장 1
   else:
        수행문장 2
        
* 들여쓰기 : Python에서, 구문을 작성하거나 함수작성할 때 , 문장의 종속관계를 띄어쓰기 또는 들여쓰기로 표현한다.

In [6]:
a = 100
b= 20

if (a>b):
    print("a는 b보다 큽니다") # 들여쓰기
    print("종속문장1")
else: 
    print("b는 a보다 큽니다")
    
print("프로그램 종료 ")    # 종속되어 있지 않음

a는 b보다 큽니다
종속문장1
프로그램 종료

In [9]:
num1 = int(input("첫번째 숫자를 입력하시오 : "))

if (num1%2 ==0):
    print("짝수입니다.")
else:
    print("홀수입니다.")

첫번째 숫자를 입력하시오 : 15
홀수입니다.

In [14]:
num2 = float(input("숫자를 입력하시오 : "))
if (num2>0):
    print("양수입니다.")
elif (num2 ==0):
    print("0")
else :
    print("음수입니다.")

숫자를 입력하시오 : 10
양수입니다.

In [29]:
# 성적처리 프로그램
score = int(input("점수를 입력하시오 : "))

if (score >=95):
    print("A+")
elif (score >=90): # pass넣어지면 멈춤
    print("A")
    pass
elif (score >=80):
    print("B")
else:

    print("F")

점수를 입력하시오 : 80
B

## 실습예제

**1. 정수를 입력받아서 3의 배수인지 아닌지 판단하는 프로그램**

**2. 키와 몸무게를 입력받아, BMI 수치 계산
  (몸무게)kg / (키)^2 m
  
  
  수치에 따라 BMI > 30 : 고도비만
  
                 BMI >= 25 : 경도비만
                 
                 BMI >= 23 : 과체중
                 
                 BMI >= 18.5 : 정상
                 
                 BMI ~ 저체중

In [33]:
num = int(input("숫자를 입력하시오 : "))
if (num%3==0):
    print("3의 배수입니다")
else:
    print("3의 배수가 아닙니다")

숫자를 입력하시오 : 6
3의 배수입니다

In [3]:
weight = float(input("몸무게 입력: "))
height = float(input("키 입력: "))
result=float(weight/(height*0.01)**2)
print(result)
if(result > 30):
    print("고도비만")
elif(result >= 25):
    print("경도비만")
elif(result >=23):
    print("과체중")
elif(result >=18.5):
    print("정상")
else:
    print("저체중")

몸무게 입력: 63
키 입력: 165.5
23.000885351539324
과체중

# Loop

In [52]:
for i in range(0,10):
    print(i)  # 숫자 한개 작은수까지 나온다
    print("종료")

0
종료
1
종료
2
종료
3
종료
4
종료
5
종료
6
종료
7
종료
8
종료
9
종료

In [56]:
list1 = [100, 200, 'pathon']
for i in list1:
    print(i)

100
200
pathon

* 1부터 100까지 차례로 합을 계산

In [60]:
sum = 0
for i in range(1, 100+1):
    sum = sum+i
    
print(sum)

5050

In [64]:
num1 = int(input("정수를 입력하시오 : "))
sum = 0
for i in range(i, num1+1):
    sum = sum + i
    
print(sum)

정수를 입력하시오 : 50
0

In [72]:
num=int(input("숫자를 입력하시오"))
result=int(num*(num+1))/2    # 컴파일러 속도 줄일 수 있음
result

숫자를 입력하시오10

55.0

In [77]:
list2 = [100, 85, 79, 99, 40, 55, 10]

for i in list2:
    if(i >=90):
        print("점수: ",i,"학점 : A")
    elif(i >=80):
        print("점수: ",i,"학점 : B")
    elif(i >=70):
        print("점수: ",i,"학점 : C")
    else:
        print("점수: ",i,"학점 : F") # 이중 구문

점수:  100 학점 : A
점수:  85 학점 : B
점수:  79 학점 : C
점수:  99 학점 : A
점수:  40 학점 : F
점수:  55 학점 : F
점수:  10 학점 : F

## Function

In [5]:
def sum_function(num1): # input
    sum = (num1+1)*num1/2
    return sum          #output

In [6]:
sum_function(100)

5050.0

In [84]:
"2019년08월02일"

'2019년08월02일'

In [85]:
def date_function(data):
    result=data[:4] + "-" + data[5:7] + "-" + data[8:10]
    return result

In [87]:
date_function("2019년08월02일")

'2019-08-02'

#### Library
NUMPY 
-> 수학/과학/통계 연산
-> 고차원 data/vector/matrix

pandas -> 정형 data를 불러옴(RDBMS)

matplot(조금 더 좋은 library)-->Seaborn -> 정형데이터나 표형태 데이터를 쉽게 시각화 처리해줌

numpy를 바탕으로 Scipy를 만듬(통계 전용 라이브러리)->sklearn(기계학습),keras 등등...

이 라이브러리 가지고 데이터 분석을 함

###### ***zip(*iterable)은 동일한 개수로 이루어진 자료형을 묶어 주는 역할

In [90]:
import numpy as np

In [91]:
list1 = [10,20,30,40,50,60,70]

In [97]:
sum = 0
for i in list1:
    sum= sum + i
    
sum/len(list1)

40.0

In [109]:
def mean_function(data):
    sum = 0
for i in list1:
    sum= sum + i
    
sum/len(list1)

120.0

In [110]:
 mean_function(list1)

In [111]:
# 배열
arr1 = np.array(list1)

In [112]:
arr1.mean()

40.0

In [113]:
arr1.sum()

280

In [114]:
arr1.std()

20.0

In [116]:
arr1.max()

70

In [120]:
import numpy as np
import pandas as pd

In [126]:
data1 = pd.read_csv("data/member_data_1.csv")

In [130]:
data1["총구매금액"] # seriese 형태의 데이터

0        5733884
1         673414
2        2500746
3         655919
4        2984534
          ...
13034      61740
13035      15507
13036      36374
13037      15890
13038       7466
Name: 총구매금액, Length: 13039, dtype: int64

In [133]:
data1[["총구매금액"]] # DataFrame # column을 여러개 보고 싶을때는 dataframe으로 해줘야함

         총구매금액
0      5733884
1       673414
2      2500746
3       655919
4      2984534
...        ...
13034    61740
13035    15507
13036    36374
13037    15890
13038     7466

[13039 rows x 1 columns]

In [134]:
data1[["연령","성별"]]

         연령 성별
0      45.0  여
1      36.0  여
2      36.0  여
3      34.0  여
4      51.0  여
...     ... ..
13034  46.0  여
13035  82.0  여
13036  55.0  여
13037  41.0  남
13038  69.0  여

[13039 rows x 2 columns]

## pandas 
-> 정형데이터 RDBMS(relational data vase managemanet)
관계형data(=정형 데이터) (ex 동물, 포유류, 양서류)

pandas 1. series-- index-value (데이터의 순서가 메겨져 있음) 데이터와 순서만 있음
     
       2. dataframe-- index-column-value
       
                정밀  나이  등등...(column)        
       1(index)
       2
       3

In [135]:
data1.index

RangeIndex(start=0, stop=13039, step=1)

In [143]:
data1.columns # 보통 많이 이용하여 데아터를 확인함

Index(['회원번호', '조합원상태', '주소-구', '주소-동', '성별', '연령', '연령대', '총 방문횟수', '총구매금액',
       '총구매수량', '1회방문시구매금액', '주당방문횟수', '배송서비스신청여부', '모바일알람여부', 'VIP_member'],
      dtype='object')

In [144]:
data1.values

array([[272369856, '정상회원', '수지구', ..., '미신청', '수신', 'normal'],
       [1506656256, '정상회원', '수지구', ..., '미신청', '.', 'normal'],
       [1023108864, '정상회원', '수지구', ..., '미신청', '수신', 'normal'],
       ...,
       [96714304, '정상회원', '분당구', ..., '미신청', '.', 'normal'],
       [1547170880, '정상회원', '기타', ..., '미신청', '.', 'normal'],
       [435603200, '정상회원', '기타', ..., '미신청', '.', 'normal']], dtype=object)

In [147]:
# shape : (row 수, columns 수)
data1.shape # 앞에꺼는 row (즉 index의 개수), 뒤에꺼는 columns 개수

(13039, 15)

In [153]:
data1["총구매금액"].mean() # 총구매금액의 평균이 계산됨

997892.6216734413

In [155]:
data1["총구매금액"].sum()

13011521894

In [156]:
data1["총구매금액"].max()

58191752

In [158]:
data1["총구매금액"].describe() # 더 발전된 모습 10^5 -> e+05라고 표현된 것

count    1.303900e+04
mean     9.978926e+05
std      2.003041e+06
min     -8.615000e+03
25%      7.715100e+04
50%      2.854390e+05
75%      1.048372e+06
max      5.819175e+07
Name: 총구매금액, dtype: float64

In [161]:
data1[["총구매금액"]].describe() #눕혀서 보고 싶으면 .T 를 같이 적어줌 data1[["총구매금액"]].describe().T

              총구매금액
count  1.303900e+04
mean   9.978926e+05
std    2.003041e+06
min   -8.615000e+03
25%    7.715100e+04
50%    2.854390e+05
75%    1.048372e+06
max    5.819175e+07

In [164]:
# 연령대 별로 총구매금액 파악
data1["연령대"].unique() # nan는 mising 데이터 =자리가 비어있다

array(['40대', '30대이하', '50대', '60대', '70대이상', nan], dtype=object)

In [166]:
data1["연령대"].value_counts()

40대      5061
50대      2869
30대이하    2486
60대      1642
70대이상     979
Name: 연령대, dtype: int64

In [170]:
p1=pd.pivot_table(data=data1, index="연령대", values="총구매금액")

In [172]:
p1.to_excel("result.xlsx")

## 1/16 여기까지함

## pandas vs excel

pandas-> python.(programing) 속도가 빠르다(프로그래밍이기 때문에)
                             data volume의 양이 더 많음 120GB
                             Python언어를 이용하여 DB와 연결 후 분석이 가능함 

excel -> 유저가 입력을 하면 프로그래밍 언어로 바꿈, 그 언어를 출력함 비교적 느림. 100MB~정도

In [175]:
data1.info() # 데이터의 요약정리

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13039 entries, 0 to 13038
Data columns (total 15 columns):
회원번호          13039 non-null int64
조합원상태         13039 non-null object
주소-구          13039 non-null object
주소-동          13039 non-null object
성별            13037 non-null object
연령            13037 non-null float64
연령대           13037 non-null object
총 방문횟수        13039 non-null int64
총구매금액         13039 non-null int64
총구매수량         13039 non-null float64
1회방문시구매금액     13039 non-null float64
주당방문횟수        13039 non-null float64
배송서비스신청여부     13039 non-null object
모바일알람여부       13039 non-null object
VIP_member    13039 non-null object
dtypes: float64(4), int64(3), object(8)
memory usage: 1.5+ MB

In [179]:
data1.isnull() # 데이터가 비어있는지 안비어있늦지 알려주는 것 .sum() 추가할 수도 있음

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총 방문횟수,총구매금액,총구매수량,1회방문시구매금액,주당방문횟수,배송서비스신청여부,모바일알람여부,VIP_member
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13034,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13035,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13036,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13037,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13038,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### sorting

In [185]:
data1.sort_values(by="총구매금액", ascending = False) # 총구매금액이 높은사람 순으로 나열하겠다

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총 방문횟수,총구매금액,총구매수량,1회방문시구매금액,주당방문횟수,배송서비스신청여부,모바일알람여부,VIP_member
315,1670400000,탈퇴,기타,비조합원,남,36.0,30대이하,295,58191752,6146.88,197260.177510,6.704545,미신청,수신,VVIP
615,436681536,정상회원,수지구,풍덕천동,여,51.0,50대,207,37346461,2802.65,180417.688340,4.704545,미신청,수신,VVIP
774,381879424,정상회원,수지구,풍덕천동,여,52.0,50대,201,32030148,2031.10,159353.970010,4.568182,미신청,수신,VVIP
1143,193003584,정상회원,수지구,성복동,여,64.0,60대,128,24986439,1545.10,195206.556170,2.909091,미신청,.,VVIP
340,444617792,정상회원,수지구,상현동,여,59.0,50대,122,23882798,2169.95,195760.642810,2.772727,미신청,.,VVIP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12531,808701888,정상회원,수원 영통구,기타,여,51.0,50대,1,0,0.00,0.000000,0.022727,미신청,.,normal
9319,1286779648,정상회원,기타,기타,여,49.0,40대,1,0,0.00,0.000000,0.022727,미신청,.,normal
12646,524733888,정상회원,서울 강남구,기타,남,77.0,70대이상,1,0,0.00,0.000000,0.022727,미신청,.,normal
12390,1516619264,정상회원,기타,기타,여,40.0,40대,1,0,0.00,0.000000,0.022727,미신청,.,normal
1768,853283008,정상회원,수지구,신봉동,여,42.0,40대,1,-8615,-1.00,-8614.864865,0.022727,미신청,.,normal

In [187]:
data1.sort_values(by="총구매금액", ascending = False).head(10) # 상위 10명 추출

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총 방문횟수,총구매금액,총구매수량,1회방문시구매금액,주당방문횟수,배송서비스신청여부,모바일알람여부,VIP_member
315,1670400000,탈퇴,기타,비조합원,남,36.0,30대이하,295,58191752,6146.88,197260.17751,6.704545,미신청,수신,VVIP
615,436681536,정상회원,수지구,풍덕천동,여,51.0,50대,207,37346461,2802.65,180417.68834,4.704545,미신청,수신,VVIP
774,381879424,정상회원,수지구,풍덕천동,여,52.0,50대,201,32030148,2031.10,159353.97001,4.568182,미신청,수신,VVIP
1143,193003584,정상회원,수지구,성복동,여,64.0,60대,128,24986439,1545.10,195206.55617,2.909091,미신청,.,VVIP
340,444617792,정상회원,수지구,상현동,여,59.0,50대,122,23882798,2169.95,195760.64281,2.772727,미신청,.,VVIP
1151,463331840,정상회원,수지구,성복동,여,49.0,40대,131,22374875,1920.55,170800.57596,2.977273,미신청,수신,VVIP
103,308569280,정상회원,수지구,풍덕천동,여,42.0,40대,214,22030788,2196.80,102947.60830,4.863636,미신청,수신,VIP
1167,606984384,정상회원,수지구,풍덕천동,여,51.0,50대,127,21926410,1608.75,172648.90136,2.886364,미신청,수신,VVIP
382,138689600,정상회원,수지구,동천동,여,41.0,40대,116,21872591,1844.20,188556.81500,2.636364,미신청,수신,VVIP
3002,635659584,정상회원,수지구,신봉동,여,57.0,50대,71,21854434,1267.50,307808.93288,1.613636,미신청,수신,VVIP

In [191]:
data1.sort_values(by=["1회방문시구매금액","연령"], ascending = False).head(10) 
#1회방문시구매금액이 높은 순서대로 정리 된 후 연령이 높은 순서대로 정렬

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총 방문횟수,총구매금액,총구매수량,1회방문시구매금액,주당방문횟수,배송서비스신청여부,모바일알람여부,VIP_member
7472,727854528,정상회원,기타,기타,남,42.0,40대,1,1004876,14.0,1.004876e+06,0.022727,미신청,.,VVIP
11844,137449792,정상회원,기타,기타,여,49.0,40대,1,559698,24.2,5.596982e+05,0.022727,미신청,.,VVIP
9219,678182400,정상회원,분당구,수내동,여,33.0,30대이하,12,6355473,52.0,5.296227e+05,0.272727,미신청,.,VVIP
6907,1434481984,정상회원,기타,기타,여,36.0,30대이하,1,518159,8.0,5.181592e+05,0.022727,미신청,.,VVIP
6773,236805184,정상회원,수지구,상현동,여,39.0,30대이하,15,7714229,235.1,5.142819e+05,0.340909,미신청,.,VVIP
10641,1506504064,정상회원,기타,기타,여,40.0,40대,1,513063,8.0,5.130631e+05,0.022727,미신청,.,VVIP
7552,893858880,정상회원,분당구,궁내동,여,38.0,30대이하,1,506535,3.0,5.065349e+05,0.022727,미신청,.,VVIP
11236,336338752,정상회원,분당구,금곡동,여,68.0,60대,2,1007556,5.0,5.037782e+05,0.045455,미신청,.,VVIP
8148,1250095808,정상회원,수지구,풍덕천동,여,49.0,40대,1,484117,5.0,4.841171e+05,0.022727,미신청,수신,VVIP
11559,346184832,정상회원,분당구,판교동,여,75.0,70대이상,1,474105,29.0,4.741047e+05,0.022727,미신청,.,VVIP

In [195]:
data2 =data1.sort_values(by=["연령","1회방문시구매금액"], ascending = [True, False]).head(10)
# 연령은 내림차순 구매금액은 오름차순 10명 추출

In [197]:
data2.to_csv("result2.csv")

**주당 방문횟수가 낮으면서, 총구매금액이 높은 고객 100명의 명단을 추출하여
result3.csv 파일 형태로, 김부장 30분까지 송부

In [2]:
data3=data1.sort_values(by=["주당방문횟수","총구매금액"], ascending = [True, False]).head(100)

NameError: name 'data1' is not defined

In [3]:
data3.to_csv("reult3.csv", encoding="cp949") # encoding 은 values 값이 깨지는 것을 막아줌

NameError: name 'data3' is not defined

### indexing, Filtering

In [205]:
data1[["성별","연령","총구매금액","총 방문횟수", "회원번호"]] # column에 대한 indexing

      성별    연령    총구매금액  총 방문횟수        회원번호
0      여  45.0  5733884     120   272369856
1      여  36.0   673414      19  1506656256
2      여  36.0  2500746      92  1023108864
3      여  34.0   655919      14  1476143616
4      여  51.0  2984534      62   716128320
...   ..   ...      ...     ...         ...
13034  여  46.0    61740       1   963408768
13035  여  82.0    15507       1   309812800
13036  여  55.0    36374       1    96714304
13037  남  41.0    15890       1  1547170880
13038  여  69.0     7466       1   435603200

[13039 rows x 5 columns]

In [208]:
cond1 = (data1["성별"]=="여") # 여성만 출력하고싶다.
data4=data1.loc[cond1] #location 함수

In [210]:
cond2 = (data1["총 방문횟수"]>=20) # 총 방문횟수가 20회 이상인 사람들만 출력
data1.loc[cond2]

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총 방문횟수,총구매금액,총구매수량,1회방문시구매금액,주당방문횟수,배송서비스신청여부,모바일알람여부,VIP_member
0,272369856,정상회원,수지구,풍덕천동,여,45.0,40대,120,5733884,546.5,47782.363926,2.727273,미신청,수신,normal
2,1023108864,정상회원,수지구,풍덕천동,여,36.0,30대이하,92,2500746,308.0,27182.021152,2.090909,미신청,수신,normal
4,716128320,정상회원,수지구,풍덕천동,여,51.0,50대,62,2984534,252.1,48137.641674,1.409091,미신청,.,normal
6,1177875136,정상회원,수지구,풍덕천동,여,34.0,30대이하,54,1638800,218.1,30348.148148,1.227273,미신청,.,normal
7,176912064,정상회원,수지구,풍덕천동,여,69.0,60대,128,8028076,716.0,62719.342096,2.909091,미신청,.,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11874,1620061568,정상회원,수지구,신봉동,여,73.0,70대이상,42,3010110,257.4,71669.294294,0.954545,신청,.,normal
11932,1622066048,정상회원,수지구,풍덕천동,여,40.0,40대,23,553208,58.0,24052.536232,0.522727,미신청,.,normal
11985,283036288,정상회원,기타,기타,여,50.0,50대,26,1538837,160.0,59186.036036,0.590909,미신청,.,normal
11994,1622565312,정상회원,수지구,풍덕천동,여,43.0,40대,30,975478,109.1,32515.945946,0.681818,미신청,.,normal
12270,765330880,정상회원,수지구,동천동,여,59.0,50대,20,3083260,328.0,154163.006760,0.454545,신청,.,VVIP

** 수지구 거주민 중 총 방문횟수가 100회 이상인 사람 추출 result4.csv
(성별/연령/총구매금액/총 방문횟수/ 회원번호)**

김부장에게 카톡으로 송부

In [4]:
cond3 = (data1["주소-구"]=="수지구")
cond4 = (data1["총 방문횟수"]>=100)
data5 = data1.loc[cond3 & cond4] # &는 and 엔터위에 시프트 누루고 |은 or
data5[["성별","연령","총구매금액","총 방문횟수","회원번호"]].to_csv("result4.csv", encoding="cp949")

NameError: name 'data1' is not defined

In [5]:
data1["column"]=data1["총구매금액"]/data1["총 방문횟수"] # column 끼리 나누고 분류하고 할 수 있음

NameError: name 'data1' is not defined

In [224]:
data1

,회원번호,조합원상태,주소-구,주소-동,성별,연령,연령대,총 방문횟수,총구매금액,총구매수량,1회방문시구매금액,주당방문횟수,배송서비스신청여부,모바일알람여부,VIP_member,column
0,272369856,정상회원,수지구,풍덕천동,여,45.0,40대,120,5733884,546.5,47782.363926,2.727273,미신청,수신,normal,47782.366667
1,1506656256,정상회원,수지구,풍덕천동,여,36.0,30대이하,19,673414,90.0,35442.863917,0.431818,미신청,.,normal,35442.842105
2,1023108864,정상회원,수지구,풍덕천동,여,36.0,30대이하,92,2500746,308.0,27182.021152,2.090909,미신청,수신,normal,27182.021739
3,1476143616,정상회원,수지구,풍덕천동,여,34.0,30대이하,14,655919,66.0,46851.327220,0.318182,미신청,.,normal,46851.357143
4,716128320,정상회원,수지구,풍덕천동,여,51.0,50대,62,2984534,252.1,48137.641674,1.409091,미신청,.,normal,48137.645161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13034,963408768,정상회원,분당구,백현동,여,46.0,40대,1,61740,9.0,61739.864865,0.022727,미신청,.,normal,61740.000000
13035,309812800,정상회원,기타,기타,여,82.0,70대이상,1,15507,2.0,15506.756757,0.022727,미신청,.,normal,15507.000000
13036,96714304,정상회원,분당구,백현동,여,55.0,50대,1,36374,2.0,36373.873874,0.022727,미신청,.,normal,36374.000000
13037,1547170880,정상회원,기타,기타,남,41.0,40대,1,15890,1.0,15889.639640,0.022727,미신청,.,normal,15890.000000
13038,435603200,정상회원,기타,기타,여,69.0,60대,1,7466,2.0,7466.216216,0.022727,미신청,.,normal,7466.000000